/*기본설정*/
.hidden {
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
}

a {
    text-decoration: none;
    color: black;
}

ul#skipmenu-list li a:focus {
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    background: black;
    color: white;
    z-index: 99999;
}
/*기본설정끝*/