/*메인시작*/

#main_wrap{
    width: 100%;
    height: 939px;
}

#main_image{
    width: 100%;
}

#main_image_list{
    width: 300%;
    height: 592px;
    display: flex;
    position: relative;

}

#main_image_list li{
    width: 100%;
}

#main_image_list li:nth-child(2){
    visibility: hidden;
}
#main_image_list li:nth-child(3){
    visibility: hidden;
}
#main_image_list li img{
    width: 100%;
}

#main_image_list p{
    position: absolute;
}

.main_image_small_title{
    font: normal 30px/45px 'YES24';
    left: 90px;
}

.main_image_big_title{
    font: bold 42px/63px 'YES24';
    top: 400px;
    left: 90px;
}

.title_up{
    top: 320px;
}

.title_down{
    top: 550px;
}

/*메인끝*/

/*컨텐츠시작*/

#content_wrap{
    width: 100%;
    height: 1000px;
}

#today_book_wrap{
    width: 100%;
    height: 660px;
    display: flex;
    background: #176AB3;
    margin-top: 130px;
    position: relative;
}

.today_book_main_title{
    position: absolute;
    left: 37px;
    top: 22px;
    font: normal 30px/45px 'YES24';
    color: white;
}

#today_book_list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#today_book_list li{
    position: relative;
}

.today_book_info{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
}

.toady_book_title{
    font: bold 22px/33px 'Noto Sans';
}

.today_book_price{
    margin-top: 20px;
    font: normal 16px/24px 'Noto Sans';
}
 


